@import "mixins.scss";
@import "variables.scss";

.page-header {
  background-image: url("../img/index-background-desktop.jpg");
  background-image: -webkit-image-set(url("../img/index-background-desktop@2x.webp") 2x,
      url("../img/index-background-desktop.webp") 1x,
      url("../img/index-background-desktop@2x.jpg") 2x,
      url("../img/index-background-desktop.jpg") 1x);
  background-image: image-set(url("../img/index-background-desktop@2x.webp") 2x,
      url("../img/index-background-desktop.webp") 1x,
      url("../img/index-background-desktop@2x.jpg") 2x,
      url("../img/index-background-desktop.jpg") 1x);
  background-position: 49.5vw 0;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 0 80px 0;

  &__container {
    display: grid;
    height: 695px;
    grid-template-rows: 150px 410px;
    position: relative;
  }

  &__logo-desktop:hover {
    fill-opacity: 0.8;
    cursor: pointer;
  }

  &__logo-desktop:active,
  &__logo-tablet:active,
  &__logo-mobile:active {
    fill-opacity: 0.6;
  }

  &__can-index {
    position: absolute;
  }

  &__can--desktop {
    top: 132px;
    left: 455px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-self: center;
  }

  &__wrapper-btn {
    display: none;
  }
}

.main-nav {

  &__list {
    @include font_base(400, 20px, 30px, rgb(255, 255, 255));
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto-fill, auto);
    align-items: center;
    justify-content: end;
    padding: 15px 0 0 0;
    grid-gap: 30px;
    z-index: 6;
  }

  &__item {
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__item-index._active {
    border-bottom: 2px solid #FFFFFF;
  }
}

.promo {
  z-index: 1;
  padding: 65px 0 0 80px;

  &__advertisement {
    font-size: 60px;
    line-height: 1;
    width: 414px;
    color: #000;
    padding: 0 0 40px 0;
  }

  &__slogan {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
    padding: 0 0 70px 0;
    margin: -15px 0 0 0;
  }

  &__button {
    font-family: inherit;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    background: #68B738;
    padding: 14px 26px 14px 26px;

    &:hover {
      background: #4a8f1f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
