@import "mixins.scss";
@import "variables.scss";


.programs-list {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto-fill, auto);
  grid-column-gap: 80px;
  grid-row-gap: 80px;

  &__item {
    background-color: #F2F2F2;
    height: auto;
  }
}

.nutrition-programs-article {
  padding: 40px 55px 0 55px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "svg head"
    "slog slog"
    "more more";
  row-gap: 38px;

  &__heading {
    @include font_base(400, 36px, 1, #000000);
    text-transform: uppercase;
    grid-area: head;
    align-self: center;
    justify-self: start;
  }

  &__svg-cat {
    grid-area: svg;
    align-self: center;
  }

  &__slogan {
    font-family: $font_arial;
    @include font_base(400, 16px, 1.5, #000000);
    grid-area: slog;
  }

  &__more {
    font-family: $font_oswald_regular;
    @include font_base(400, 20px, 1.5, #000000);
    text-transform: uppercase;
    grid-area: more;
    padding: 0 0 10% 0;
  }

  &__link:hover {
    cursor: pointer;
  }

  &__link:hover &__svg-arrow {
    width: 40px;
    height: 15px;
    margin-bottom: 2px;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__svg-arrow {
    margin: 0 0 3px 10px;
  }
}

.weight-gain h3 {
  padding: 0 0 0 20px;
}

.about-nutrition-programs {
  margin-bottom: 60px;

  &__heading {
    @include font_base(400, 60px, 1, #000);
    padding: 0;
    margin: 40px 0 40px 0;
  }
}

.about-list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  column-gap: 100px;
  row-gap: 90px;

  &__item {
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    position: relative;
  }

  &__number {
    position: absolute;
    font-family: $font_oswald_regular;
    @include font_base(400, 280px, 1, #F2F2F2);
    top: -40px;
    left: 120px;
    z-index: -1;
    overflow: hidden;
  }

  &__svg {
    width: 80px;
    height: 80px;
  }

  &__text {
    font-family: $font_arial;
    @include font_base(400, 16px, 1.5, #444);
  }
}

.example {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  grid-template-rows: 100%;
  background-image: url(../img/image_cat.png);
  background-image: -webkit-image-set(url('../img/image_cat@2x.webp') 2x,
      url('../img/image_cat.webp') 1x,
      url('../img/image_cat@2x.png') 2x,
      url('../img/image_cat.png') 1x);
  background-image: image-set(url('../img/image_cat@2x.webp') 2x,
      url('../img/image_cat.webp') 1x,
      url('../img/image_cat@2x.png') 2x,
      url('../img/image_cat.png') 1x);
  background-position: 120% 0;
  background-repeat: no-repeat;
  margin-bottom: 50px;


  &__about {
    display: grid;
    row-gap: 60px;
    grid-template-areas:
      "t t"
      "h h"
      "w tm"
      "p p";
  }

  &__title {
    @include font_base(400, 60px, 1, #000);
    padding: 35px 0 20px 0;
    grid-area: t;
  }

  &__history {
    font-family: $font_arial;
    @include font_base(400, 16px, 1.3, #444);
    grid-area: h;
  }

  &__weight {
    grid-area: w;
  }

  &__time {
    grid-area: tm;
  }

  &__item,
  &__price {
    justify-self: start;
  }

  &__item {
    width: 162px;
    height: 77px;
    @include font_base(400, 30px, 2.75, #000);
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    position: relative;
    text-align: center;
  }

  &__stroke {
    display: inline-block;
    font-family: $font_arial;
    @include font_base(400, 14px, 1, #444);
    width: auto;
    background-color: #fff;
    text-align: center;
    padding: 0 8px 0 8px;
    position: absolute;
    top: 65px;
    left: 7%;
  }

  &__stroke-1 {
    left: 15%;
  }

  &__price {
    @include font_base(400, 20px, 1, #000);
    text-transform: uppercase;
    grid-area: p;
  }


  &__cost {
    width: auto;
    margin: 0 0 0 80px;
  }
}

.about-us {
  margin-bottom: 100px;

  &__map {
    position: absolute;
    top: 2070px;
    left: 0;
    height: 395px;
    width: 100%;
    z-index: -1;
  }

  &__block-address {
    background-color: #fff;
    width: 450px;
    height: 210px;
    margin: 163px 0 0 0;
    padding: 0 50px 0 50px;
    display: grid;
    grid-template-columns: 40% 45%;
    justify-content: space-between;
    align-items: center;
  }

  &__invitation {
    @include font_base(400, 20px, 1.05, #111);
    text-transform: uppercase;
  }

  &__address {
    font-family: $font_arial;
    @include font_base(400, 16px, 1.25, #444);
  }

  &__town {
    display: inline-block;
    margin-top: 12px;
  }
}
