@import "mixins.scss";
@import "variables.scss";

@media (max-width: 767.98px) {

  .programs-list {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, auto);

    &__article {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "svg head"
        "slog slog"
        "more more";
      row-gap: 5%;
      margin: 20px 0 0 20px;
      height: 200px;
    }
  }

  .nutrition-programs-article {
    height: 266px;
    padding: 0 0 0 5px;

    &__heading {
      margin: 0;
      padding: 0;
      @include font_base(400, 24px, 1.54, #000);
    }

    &__svg-cat {
      margin: 0 50px 0 0;
      width: 50px;
      height: 53px;
    }

    &__slogan {
      @include font_base(400, 14px, 1.12, #000);
    }

    &__more {
      border-top: 1px solid #D9D9D9;
      padding: 30px 0 0 0;
      @include font_base(400, 16px, 1, #000);
    }
  }

  .cat-gain {
    width: 67px;
    height: 53px;
  }

  .about-nutrition-programs {
    padding: 0 10px 0 10px;
    margin-bottom: 40px;

    &__heading {
      @include font_base(400, 36px, 1.29, #000);
      padding: 0;
      margin: 30px 0 40px 0;
    }
  }

  .about-list {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, auto);
    row-gap: 20px;
    padding-bottom: 0;
    border-bottom: none;

    &__item {
      font-family: $font_arial;
      @include font_base(400, 14px, 1.29, #444);
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10px;
      row-gap: 0;
    }

    &__number {
      display: none;
    }

    &__svg {
      width: 60px;
      height: 60px;
    }
  }

  .example {
    width: 100%;
    background-color: #EAEAEA;
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 400px 200px;
    padding: 0 0 0 0;
    align-items: center;
    justify-content: center;
    background-image: url(../img/image_cat_mobile.png);
    background-image: -webkit-image-set(url('../img/image_cat_mobile@2x.webp') 2x,
        url('../img/image_cat_mobile.webp') 1x,
        url('../img/image_cat_mobile@2x.png') 2x,
        url('../img/image_cat_mobile.png') 1x);
    background-image: image-set(url('../img/image_cat_mobile@2x.webp') 2x,
        url('../img/image_cat_mobile.webp') 1x,
        url('../img/image_cat_mobile@2x.png') 2x,
        url('../img/image_cat_mobile.png') 1x);
    background-repeat: no-repeat;
    background-position: 50% 99%;

    &__about {
      width: 100%;
      display: grid;
      grid-template-rows: 100px 100px 100px;
      row-gap: 10px;
      grid-template-areas:
        "t t"
        "h h"
        "w tm"
        "p p";
    }

    &__title {
      @include font_base(400, 36px, 1.29, #000);
      padding: 25px 0 0 0;
      grid-area: t;
    }

    &__history {
      font-family: $font_arial;
      @include font_base(400, 14px, 1.29, #000);
      grid-area: h;
    }

    &__weight {
      grid-area: w;
    }

    &__time {
      grid-area: tm;
    }

    &__item,
    &__price {
      justify-self: center;
    }

    &__item {
      width: 124px;
      height: 64px;
      @include font_base(400, 24px, 2.75, #000);
      border: 1px solid #CDCDCD;
      border-radius: 3px;
      position: relative;
      text-align: center;
    }

    &__stroke {
      display: inline-block;
      font-family: $font_arial;
      @include font_base(400, 12px, 1, #444);
      position: absolute;
      top: 50px;
      left: 22px;
      background-color: #EAEAEA;
      width: 80px;
    }

    &__price {
      @include font_base(400, 14px, 1.43, #000);
      text-transform: uppercase;
      grid-area: p;
      text-align: center;
      margin: 0;
    }

    &__cost {
      margin: 0;
    }

    &__background {
      display: none;
    }

    &__result {
      display: none;
    }
  }


  .about-us {
    width: 100vw;
    margin-bottom: 50px;

    &__map {
      height: 360px;
    }

    &__block-address {
      background-color: #fff;
      width: 100%;
      height: 115px;
      margin: 0 0 0 0;
      padding: 0 10px 0 10px;
      display: grid;
      grid-template-columns: 125px 140px;
      justify-content: space-between;
      align-items: center;
    }

    &__invitation {
      @include font_base(400, 16px, 1.05, #111);
      text-transform: uppercase;
    }

    &__address {
      font-family: $font_arial;
      @include font_base(400, 14px, 1.25, #444);
    }

    &__town {
      display: inline-block;
      margin-top: 12px;
    }
  }

}
