@import "mixins.scss";
@import "variables.scss";

@media (max-width: 767.98px) {
  .page-header {
    display: grid;
    background-position: 100vw 0;
    margin: 0 0 20px 0;

    &__container {
      height: 575px;
      grid-template-rows: 75px 500px;
    }

    &__wrap {
      width: 100%;

      &-mobile {
        position: fixed;
        z-index: 5;
        width: 100%;
        height: 75px;
        background-color: #fff;
        top: 0;
        left: 0;
        padding: 20px 0 0 0;
      }
    }

    &__logo,
    &__wrapper-btn {
      position: fixed;
      z-index: 5;
    }

    &__logo {
      padding: 0 0 0 25px;
    }

    &__wrapper-btn {
      display: block;
      width: 24px;
      height: 16px;
      cursor: pointer;
      margin: 14px 0 0 0;
      justify-self: end;
      right: 15px;

      span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        border: 1px solid #000000;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        background-color: #000;
      }
    }

    &__wrapper-btn._active span {
      transform: scale(0) translate(0px, -50%);
    }


    &__wrapper-btn._active::before {
      top: 50%;
      transform: rotate(-45deg);
    }

    &__wrapper-btn._active::after {
      bottom: 40%;
      transform: rotate(45deg);
    }

    &__can--mobile {
      z-index: 2;
      position: absolute;
      top: 260px;
      left: 15vw;
    }
  }

  .main-nav {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 213.5px;
    background-color: #fff;
    transition: all 0.5s ease 0s;
    overflow-y: auto;
    z-index: 2;
    margin: -16px 0 0 0;

    &__list {
      font-family: $font_oswald_medium;
      width: 100%;
      @include font_base(500, 20px, 1, #000);
      padding: 0 0 0 0;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 0;
    }

    &__list>li {
      text-align: center;
      border-bottom: 1px solid #E6E6E6;
      padding: 25px 0 25px 0;
      width: 100%;
    }

    &__list:first-child {
      border-top: 2px solid #E6E6E6;
    }

    &__item-index._active {
      border-bottom: 1px solid #E6E6E6
    }
  }

  .main-nav._active {
    top: 90px;
  }

  .promo {
    background-image: url('../img/index-background-mobile.jpg');
    background-image: -webkit-image-set(url('../img/index-background-mobile@2x.webp') 2x,
        url('../img/index-background-mobile.webp') 1x,
        url('../img/index-background-mobile@2x.jpg') 2x,
        url('../img/index-background-mobile.jpg') 1x);
    background-image: image-set(url('../img/index-background-mobile@2x.webp') 2x,
        url('../img/index-background-mobile.webp') 1x,
        url('../img/index-background-mobile@2x.jpg') 2x,
        url('../img/index-background-mobile.jpg') 1x);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 300px;
    text-align: center;
    display: grid;
    position: relative;
    align-content: center;
    padding: 0 0 0 0;

    &__block {
      padding: 0 0 140px 0;
    }

    &__advertisement {
      @include font_base(400, 36px, 1, #fff);
      padding: 0 0 0 0;
    }

    &__advertisement,
    &__slogan,
    &__button {
      justify-self: center;
      width: 95%;
    }

    &__slogan {
      @include font_base(400, 14px, 1, #fff);
      padding: 0 0 0 0;
      margin: 30px 0 0 0;
    }

    &__button {
      display: block;
      position: absolute;
      top: 150%;
    }
  }
}
