@import "mixins.scss";
@import "variables.scss";

@media (max-width: 1220px) {
  .programs-list {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, auto);
    grid-row-gap: 25px;

    &__article {
      grid-template-columns: 65% 50%;
      grid-template-areas:
        "head svg"
        "slog svg"
        "more svg"
      ;
      padding: 0 30px 0 30px;
    }
  }

  .nutrition-programs-article {

    &__heading {
      margin: 60px 0 0 0;
    }
  }

  .weight-gain h3 {
    padding: 0;
  }

  .cat-slim {
    width: 200px;
    height: 190px;
    margin: 80px 0 0 20px;
  }

  .cat-gain {
    width: 268px;
    height: 190px;
    margin: 80px 0 0 -15px;
  }

  .about-nutrition-programs {
    margin-bottom: 40px;

    &__heading {
      @include font_base(400, 60px, 1, #000);
      padding: 0;
      margin: 40px 0 40px 0;
    }
  }

  .about-list {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
    column-gap: 140px;
    row-gap: 90px;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 60px;

    &__item {
      display: grid;
      grid-template-rows: repeat(2, auto);
      row-gap: 40px;
      position: relative;
    }
  }

  .example {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 868px;
    background-image: none;
    background-color: #fff;
    padding: 0;
    margin-bottom: 0;

    &__about {
      display: grid;
      grid-template-rows: repeat(3, 130px);
      grid-template-areas:
        "t t t t"
        "h h h h"
        "w tm p p"
      ;
      row-gap: 0;
      margin-bottom: 30px;
    }

    &__title {
      @include font_base(400, 60px, 1, #000);
      padding: 0 0 0 0;
      grid-area: t;
    }

    &__history {
      font-family: $font_arial;
      @include font_base(400, 16px, 1.3, #000);
      grid-area: h;
    }

    &__weight {
      grid-area: w;
    }

    &__time {
      grid-area: tm;
      margin: 0 0 0 -20px;
    }

    &__item {
      justify-self: start;
    }

    &__price {
      text-align: end;
      margin: 0 0 0 70px;
    }

    &__item {
      width: 162px;
      height: 77px;
      @include font_base(400, 30px, 2.5, #000);
      border: 1px solid #CDCDCD;
      border-radius: 3px;
      text-align: center;
      position: relative;
    }

    &__stroke {
      display: inline-block;
      font-family: $font_arial;
      @include font_base(400, 14px, 1, #444);
      width: auto;
      background-color: #fff;
      text-align: center;
      padding: 0 8px 0 8px;
      position: absolute;
      top: 65px;
      left: 7%;
    }

    &__stroke-1 {
      left: 15%;
    }

    &__price {
      @include font_base(400, 20px, 1, #000);
      text-transform: uppercase;
      grid-area: p;
      margin-top: 20px;
    }

    &__background {
      position: absolute;
      top: 2800px;
      left: 0;
      width: 100%;
      height: 868px;
      background-image: url(../img/image_cat_tablet.png);
      background-image: -webkit-image-set(url('../img/image_cat_tablet@2x.webp') 2x,
          url('../img/image_cat_tablet.webp') 1x,
          url('../img/image_cat_tablet@2x.png') 2x,
          url('../img/image_cat_tablet.png') 1x);
      background-image: image-set(url('../img/image_cat_tablet@2x.webp') 2x,
          url('../img/image_cat_tablet.webp') 1x,
          url('../img/image_cat_tablet@2x.png') 2x,
          url('../img/image_cat_tablet.png') 1x);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      z-index: 1;
    }
  }

  .about-us {
    margin-bottom: 500px;

    &__map {
      position: absolute;
      top: 3862px;
      left: 0;
      height: 395px;
      width: 100%;
      z-index: -1;
      overflow: hidden;
    }

    &__block-address {
      background-color: #fff;
      width: 100%;
      height: 200px;
      margin: 0 0 0 0;
      padding: 0;
      display: grid;
      grid-template-columns: 20% 25%;
      justify-content: space-between;
    }

    &__invitation {
      @include font_base(400, 20px, 1.05, #111);
      text-transform: uppercase;
    }

    &__address {
      font-family: $font_arial;
      @include font_base(400, 16px, 1.25, #444);
    }

    &__town {
      display: inline-block;
      margin-top: 12px;
    }
  }
}
